# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Docs
website/**/dist
website/**/cache

# Local
node_modules
.turbo
.vercel
.vite
.sonda
*.tgz
*.local
*.tsbuildinfo

# Screenshots
screenshots
/cypress/videos/
/cypress/screenshots/
test-results/
playwright-report/

# Temp
temp
*.temp
build
cache
coverage
dist
dist-*
dist-prd
dist-ssr
.output
.cache
.nitro
.tanstack
.source
*-report

# Env
.env
.env.*

# Editor directories and files
!.vscode/*
.idea
.kiro
.history
.codebuddy
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
